version: "3.8"

services:
    reveal.js:
        container_name: reveal.js
        image: ghcr.io/mlencki/reveal.js-docker:v1.0.0
        user: ${CURRENT_UID}
        environment:
            PRESENTATION_PATH: ${PRESENTATION_PATH}
        ports:
            - ${PRESENTATION_PORT}:8000
        volumes:
            - ./:/app/presentations
